{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
background:url('background1.jpg') no-repeat;
background-size:cover;
background-position:center;
}

header{
padding:-100px 0;
position:fixed;
top:0;
left:0;
right:0;
width:100%
padding:30px 150px;
display: flex;
background:black;
justify-content: space-between;
align-items: center;
z-index:100;

}

.logo{
width:150px;
font-size:2em;
color:#fff;
user-select:none;
}

.navigation a{
display:inline-block;
position:relative;
font-size:1.1em;
color:#fff;
text-decoration:none;
font-weight:500;
margin-left:40px;
}
.navigation a::after{
content: '';
position: absolute;
left:0;
bottom:-6px;
width:100%;
height:3px;
background:#fff;
border-radius:4px;

transform:scaleX(0);
transistion:transform .5s;

}
.navigation a:hover::after{

transform:scaleX(1);
}

.navigation .btnLogin-popup{
width:130px;
height:45px;
background:transparent;
border:2px solid #fff;
outline:none;
border-radius:6px;
cursor:pointer;
font-size:1.1em;
color:#fff;
font-weight:500;
margin-left:40px
transistion:.5s; 
}

.navigation .btnLogin-popup:hover{
background:#fff;
color:#162938;
}

.abc{
position:fixed;
height:auto;
left:0px;
width:250px;

}

.wrapper {
position:relative;
width:500px;
height:500px;
background:transparent;
border:3px solid rgba(200,200,200, .5);
border-radius:20px;
backdrop-filter:blur(20px);
box-shadow:0 0 30px rgba(0,0,0,.5);
display:inline-block;
justify-content:center;
align-items:center;

}

h1{
	text-align:center;
	color:#ffffff;

}
.dropdown {
	display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    margin-top: 130px;
    margin-left: 20px;
   
  } 
.dropdown label{
	font-style: bold;
	color:#ffffff;
	font-size: 18px;

}
.dropdown select{
	font-size: 15px;
	width:200px;
	font-style: bold;
	font-weight: bold;
	margin-left: 6px;
}
.dropdown input[type="submit"]{
	width:99px;
	height:25px;
	align-items: center;
	border:none;
	border:1px solid grey;
	border-radius:2px;
	outline:none;
	margin-top: 60px;
	margin-left: 170px;
	font-size: 18px;
	font-weight: bold;
}
.dropdown label[for="time"]{
	font-style: bold;
	color:#ffffff;
	font-size: 18px;
}
.dropdown select[name="time"]{
	width:99px;
	height:20px;
	align-items: center;
	border:none;
	border:1px solid grey;
	border-radius:2px;
	outline:none;
	margin-top: 60px;
	margin-left: 14px;
	font-size: 18px;
	font-weight: bold;
}